.panel-heading {
	font-weight: bold;
}
.panel-heading:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: white;
}
.panel-heading.collapsed:after {
    content:"\e080";
}
.panel-heading {
    cursor: pointer;
}
.panel-body {
	padding: 0;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}
 
@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
  
@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
 
@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}

.editor {
    border-radius: 10px; border: 2px solid #A0A0FF 
}

.label-custom {
    margin-top: 0.50em;
    width: 5em;
}

.task-container {
    /* background-color: rgba(155, 155, 200, 0.1);
    border-radius: 10px;
    border: 2px solid #A0A0A0;*/
    margin: 1em;
    margin-left: 3.5em;
    padding: 0.5em;
}

.task-media {
    overflow: visible;
    margin-left: -3em;
}


.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
  border: 4px double #808080;
}

.blue {
	color: dodgerblue;
}

.footer {
	text-align: center;
	color: #505050;
}