<div class="panel-body" ng-controller="ConfigProcessorsCtrl">
	<div ui-grid="gridProcessorsOptions" ui-grid-edit ui-grid-selection></div>
	<button class="btn btn-default btn-sm col-sm-2" ng-click="addNewProcessor()"><span class="glyphicon glyphicon-plus"></span> Add processor</button>
	<button class="btn btn-default btn-sm col-sm-2" ng-click="delProcessors()"><span class="glyphicon glyphicon-remove"></span> Delete selected processor(s)</button>
	<span ng-controller="ConfigProcsAddFieldCtrl">
		<a class="btn btn-default btn-sm col-sm-2" href="" ng-click="showAdditionalFieldsModal()">
			<span class="glyphicon glyphicon-plus"></span>
			Edit additional fields
		</a>
		<div ng-include="'partial/components/field-editor-modal.html'"></div>
	</span>
</div>
