<div class="panel-body" ng-controller="ConfigProcessorsCtrl">
	<div ui-grid="gridProcessorsOptions" ui-grid-edit ui-grid-selection></div>
	<form class="form-horizontal" role="form" style="margin: 1em">
		<div class="btn-group" role="group" ng-controller="ConfigProcsAddFieldCtrl">
			<button type="button" class="btn btn-default btn-sm" ng-click="addNewProcessor()">
				<span class="glyphicon glyphicon-plus"></span>
				Add processor
			</button>
			<button type="button" class="btn btn-default btn-sm" ng-click="delProcessors()">
				<span class="glyphicon glyphicon-remove"></span>
				 Delete selected processor(s)
			</button>
			<button type="button" class="btn btn-default btn-sm" ng-click="showAdditionalFieldsModal()">
				<span class="glyphicon glyphicon-plus"></span>
				Edit additional fields
			</button>
			<div ng-include="'partial/components/field-editor-modal.html'"></div>
		</div>
	</form>
</div>
