<div class="panel-body" ng-controller="ConfigGeneralCtrl">
	<form class="form-horizontal" role="form" style="margin: 1em">
		<div class="form-group">
			<label for="duration" class="control-label col-sm-2">Duration (cycles):</label>
			<div class="col-sm-2">
			<input type="number" min="1" class="form-control input-sm" id="duration" ng-change="conf.duration_ms = conf.duration / conf.cycles_per_ms" ng-model="conf.duration"></input>
			</div>

			<label for="duration_ms" class="control-label col-sm-2">Duration (ms):</label>
			<div class="col-sm-2">
			<input type="number" min="1" class="form-control input-sm" id="duration_ms" ng-change="conf.duration = conf.cycles_per_ms * conf.duration_ms" ng-model="conf.duration_ms"></input>
			</div>
		</div>
		<div class="form-group">
			<label for="cycles_per_ms" class="control-label col-sm-2">Cycles / ms:</label>
			<div class="col-sm-2">
			<input type="number" min="1" class="form-control input-sm" id="cycles_per_ms" ng-change="conf.duration = conf.duration_ms * conf.cycles_per_ms" ng-model="conf.cycles_per_ms"></input>
			</div>
		</div>
		<div class="form-group" ng-show="!conf.expert_mode">
			<label class="control-label col-sm-2">Processors :</label>
			<div class="col-sm-2">
			<input type="number" min="1" max="100"
				class="form-control input-sm"
				ng-change="fixLayout()"
				ng-model="conf.processor_count"
				ng-model-options="{getterSetter: true}">
			</input>
			</div>
		</div>
	</form>
	<form class="form-horizontal" role="form" style="margin: 1em">
		<div class="form-group">
			<label for="duration" class="control-label col-sm-2">Execution Time Model:</label>
			<div class="col-sm-4">
				<select 
					class="form-control"
					ng-model="conf.etm" 
					ng-options="e.display_name for e in conf.etm_list"
					ng-change="onEtmChanged()"
					>
				</select>
			</div>
		</div>
		<div class="form-group" ng-repeat="field in conf.etmAdditionalFields">
			<label for="etmField{{field.name}}" class="control-label col-sm-2">{{field.display_name || field.name}}</label>
			<div class="col-sm-4">
				<input id="etmField{{field.name}}" 
					   ng-model="field.value"
					   filecontent="field.value"
					   ng-true-value="true"
					   ng-false-value="false"
					   class="form-control col-sm-2" 
					   type="{{toJsInputType(field.type)}}"></input>
			</div>
			<label class="control-label col-sm-1">({{field.type}})</label>
		</div>
	</form>

</div>
