<div class="panel-body" ng-controller="ConfigGeneralCtrl">
	<form class="form-horizontal" role="form" style="margin: 1em">
		<div class="form-group">
			<div ng-show="conf.expertMode">
				<label for="duration" class="control-label col-sm-2">Duration :</label>
				<div class="col-sm-2">
				<input type="number" min="1" class="form-control input-sm" id="duration" ng-change="conf.durationMs = conf.duration / conf.cyclesPerMs" ng-model="conf.duration"></input>
				</div>
				<span class="label label-default label-custom col-sm-1">cycles</span>
			</div>
			
			<label for="durationMs" class="control-label col-sm-2">Duration :</label>
			<div class="col-sm-2">
			<input type="number" min="1" class="form-control input-sm" id="durationMs" ng-change="conf.duration = conf.cyclesPerMs * conf.durationMs" ng-model="conf.durationMs"></input>
			</div>
			<span class="label label-default label-custom col-sm-1">ms</span>
		</div>
		<div class="form-group" ng-show="conf.expertMode">
			<label for="cyclesPerMs" class="control-label col-sm-2">Cycles / ms:</label>
			<div class="col-sm-2">
			<input type="number" min="1" class="form-control input-sm" id="cyclesPerMs" ng-change="conf.duration = conf.durationMs * conf.cyclesPerMs" ng-model="conf.cyclesPerMs"></input>
			</div>
		</div>
		<div class="form-group" ng-show="!conf.expertMode">
			<label class="control-label col-sm-2">Processors :</label>
			<div class="col-sm-2">
			<input type="number" min="1" max="100"
				class="form-control input-sm"
				ng-change="fixLayout()"
				ng-model="conf.processorCount"
				ng-model-options="{getterSetter: true}">
			</input>
			</div>
		</div>
	</form>
	<form class="form-horizontal" role="form" style="margin: 1em">
		<div class="form-group">
			<label for="duration" class="control-label col-sm-2">Execution Time Model:</label>
			<div class="col-sm-4">
				<select 
					class="form-control input-sm"
					ng-model="conf.etm" 
					ng-options="e.display_name for e in conf.etmList"
					ng-change="onEtmChanged()"
					>
				</select>
			</div>
		</div>
		<div class="form-group" ng-repeat="field in conf.etmAdditionalFields">
			<label for="etmField{{field.name}}" class="control-label col-sm-2">{{field.display_name || field.name}}</label>
			<div class="col-sm-4">
				<input id="etmField{{field.name}}" 
					   ng-model="field.value"
					   filecontent="field.value"
					   ng-true-value="true"
					   ng-false-value="false"
					   class="form-control input-sm col-sm-2" 
					   type="{{toJsInputType(field.type)}}"></input>
			</div>
			<span class="label label-default label-custom col-sm-1">{{field.type}}</span>
		</div>
	</form>

</div>
