<div class="panel-body" ng-controller="ConfigTasksCtrl">
	<div ng-show="conf.expertMode">
		<div ui-grid="gridTasksOptions" ui-grid-edit ui-grid-selection></div>
		<form class="form-horizontal" role="form" style="margin: 1em">
			<div class="btn-group" role="group" ng-controller="ConfigTasksAddFieldCtrl">
				<button type="button" class="btn btn-default btn-sm" ng-click="addNewTask()">
					<span class="glyphicon glyphicon-plus"></span>
					Add Task
				</button>
				<button type="button" class="btn btn-default btn-sm" ng-click="delTasks()">
					<span class="glyphicon glyphicon-remove"></span>
					Delete selected task(s)
				</button>
				<button type="button" class="btn btn-default btn-sm" ng-click="showAdditionalFieldsModal()">
					<span class="glyphicon glyphicon-plus"></span>
					Edit additional fields
				</button>
				<div ng-include="'partial/components/field-editor-modal.html'"></div>
			</div>
		</form>
	</div>
	<div ng-show="!conf.expertMode" style="overflow: auto">
		<div class="container" style="margin: 1em; margin-left: 4em;">
			<button type="button" class="btn btn-primary btn-sm" ng-click="addNewTask()">
				<span class="glyphicon glyphicon-plus"></span>
				Add Task
			</button>
		</div>
		<div ng-repeat="task in conf.tasks">
			<div ng-show="task.type == 0">

				<div class="task-container">
					<div class="form-group">
						<div class="col-sm-2"><label>Name</label>
							<input class="form-control input-sm" type="text" ng-model="task.name"></input>
						</div>
						<div class="col-sm-2"><label>Period</label>
							<input class="form-control input-sm" min="1" type="number" ng-model="task.period"></input>
						</div>
						<div class="col-sm-2"><label>Deadline</label>
							<input class="form-control input-sm" min="1" type="number" ng-model="task.deadline"></input>
						</div>
						<div class="col-sm-2"><label>WCET</label>
							<input class="form-control input-sm" min="1" type="number" ng-model="task.wcet"></input>
						</div>
						<div class="col-sm-2"><label>Activation Date</label>
							<input class="form-control input-sm" min="0" type="number" ng-model="task.activationDate"></input>
						</div>
					</div>
				</div>
				<br />
				<div class="media task-media">
					<div class="media-left media-top" style="padding-left: 4em; padding-top: 10px;">
						<button type="button" class="btn btn-danger btn-sm" ng-click="deleteTask(task)">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
					</div>
					<div class="media-body">
						<canvas id="taskCanvas_{{task.id}}" 
							height="80px"
							graph
							period="task.period"
							deadline="task.deadline"
							activation-date="task.activationDate"
							wcet="task.wcet",
							duration="{{conf.durationMs}}">
							
						</canvas>
					</div>
				</div>
			</div>
		</div>
		<div ng-repeat="task in conf.tasks">
			<div ng-show="task.type != 0" class="alert alert-warning">
				Task <b>{{task.name}} ({{task.id}})</b> is not periodic.
				Basic mode editing only supported for <b>periodic tasks.</b>
				<button class="btn btn-warning" 
					ng-click="task.type = 0; task.period = 10; task.activationDate = 0;">
					Make this task periodic
				</button>
			</div>
		</div>
	</div>
</div>
