<div class="panel-body" ng-controller="ConfigSchedulerCtrl">
	<form class="form-horizontal" role="form" style="margin: 1em">
		<div class="form-group">
			<label for="iscustom" class="control-label col-sm-2">Use custom scheduler</label>
			<div class="col-sm-4">
				<input id="iscustom" 
					   ng-model="conf.customSched"
					   ng-click="fixLayout()"
					   ng-true-value="true"
					   ng-false-value="false"
					   class="form-control col-sm-2" 
					   type="checkbox"></input>
			</div>
		</div>
		<div ng-show="!conf.customSched">
			<div class="form-group">
				<label class="control-label col-sm-2">Scheduler:</label>
				<div class="col-sm-4">
					<select 
						class="form-control input-sm"
						ng-model="conf.schedulerClass" 
						ng-options="sched.display_name for sched in conf.schedulerList"
						ng-change="onSchedulerChanged()"
						>
					</select>
				</div>
				<span ng-controller="ConfigSchedAddFieldCtrl">
					<a class="btn btn-default btn-sm col-sm-2" href="" ng-click="showAdditionalFieldsModal()">
						<span class="glyphicon glyphicon-plus"></span>
						Edit additional fields
					</a>
					<div ng-include="'partial/components/field-editor-modal.html'"></div>
				</span>
			</div>
			<div class="form-group" ng-repeat="field in conf.schedAdditionalFields">
				<label for="schedField{{field.name}}" class="control-label col-sm-2">{{field.display_name || field.name}}</label>
				<div class="col-sm-4">
					<input id="schedField{{field.name}}" 
						   ng-model="field.value"
						   ng-true-value="true"
						   ng-false-value="false"
						   filecontent="field.value"
						   class="form-control input-sm col-sm-2" 
						   type="{{toJsInputType(field.type)}}"></input>
				</div>
				<span class="label label-default label-custom col-sm-1">{{field.type}}</span>
			</div>
		</div>
		
		<div ng-show="conf.expertMode">
			<div class="form-group">
				<label for="overhead" class="control-label col-sm-2">Overhead schedule</label>
				<div class="col-sm-4">
					<input id="overhead" 
						   ng-model="conf.overheadScheduleProperty"
						   ng-model-options="{getterSetter : true}"
						   min="0"
						   class="form-control input-sm col-sm-2" 
						   type="{{toJsInputType('int')}}"></input>
				</div>
				<span class="label label-default label-custom col-sm-1">cycles</span>
			</div>
			
			<div class="form-group">
				<label for="overheadActivate" class="control-label col-sm-2">Overhead on activate</label>
				<div class="col-sm-4">
					<input id="overheadActivate" 
						   ng-model="conf.overheadActivateProperty"
						   ng-model-options="{getterSetter : true}"
						   min="0"
						   class="form-control input-sm col-sm-2" 
						   type="{{toJsInputType('int')}}"></input>
				</div>
				<span class="label label-default label-custom col-sm-1">cycles</span>
			</div>
			
			<div class="form-group">
				<label for="overheadTerminate" class="control-label col-sm-2">Overhead on terminate</label>
				<div class="col-sm-4">
					<input id="overheadTerminate" 
						   ng-model="conf.overheadTerminateProperty"
						   ng-model-options="{getterSetter : true}"
						   min="0"
						   class="form-control input-sm col-sm-2" 
						   type="{{toJsInputType('int')}}"></input>
				</div>
				<span class="label label-default label-custom col-sm-1">cycles</span>
			</div>
		</div>
		
		<div ng-show="conf.customSched">
			<div class="form-group">
				<label for="customschedclassname" class="control-label col-sm-2">Main class name : </label>
				<div class="col-sm-4">
					<input id="customschedclassname" 
						   ng-model="conf.customSchedName"
						   class="form-control input-sm col-sm-2" 
						   type="string"></input>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2">Scheduler template:</label>
				<div class="col-sm-4">
					<select 
						class="form-control input-sm"
						ng-model="scheduler_template" 
						ng-options="sched.display_name for sched in conf.schedulerList"
						ng-change="onSchedulerTemplateChanged()"
						>
					</select>
				</div>
				<span class="alert alert-warning col-sm-5" role="alert">
					<span class="glyphicon glyphicon-alert">
					</span>
					Warning : Selecting a template will delete all your modifications !
				</span>
			</div>
			<h4>Custom scheduler code</h4>
			<div ui-ace="{
				 	theme:'chrome',
					mode:'python'
				 }"
				 ng-model="conf.customSchedCode"
				 id="editor" class="editor" style="width: auto; height: 400px">
			from simso.core.Scheduler import Scheduler
			class Custom(Scheduler):
				pass
			</div>
		</div>
	</form>
</div>
