<div class="modal fade" id="modalXML" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content" style="text-align: left">
			<div class="modal-header">
				<h4 class="modal-title">Configuration download.</h4>
			</div>
			<div class="modal-body">
				<p>
					You are about to download the configuration in the XML format.<br />
					<b>This format cannot be imported back into Simso Web</b>, it might 
					be used only in Simso (graphical interface or script).
				<p>
				<center><a 
					class="btn btn-default btn-lg"
					id="config-download-xml"
					download="configuration.xml"
					href="data:application/xml;charset=utf-8,nodata">
					Proceed to download.
				</a></center>
			</div>
		</div>
	</div>
</div>
